@font-face {
  font-family: "iAWriterMonoS";
  src: url("/fonts/iAWriterMonoS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterMonoS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.m-headlines :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: var(--aura);
}

.pm0 p {
  margin: 0;
}

#nprogress .bar {
  background: var(--aura-loader)!important;
  height: 6.5px!important
}

#nprogress .peg {
  display: none!important;
}

*:root {
  --aura-font-stack: ryo-gothic-plusn, sans-serif;
}


.code-box {
  --aura-accents-3: #172353;
  --aura-link-hover: #141a3d;
  --aura-font-stack: "iAWriterMonoS";
}


