@import 'tailwindcss';
/* @import 'fumadocs-ui/css/neutral.css'; */
@import 'fumadocs-ui/css/preset.css';

@theme {
  --color-fd-background: #0c122b;
  --color-fd-foreground: #d4d4d4;
  --color-fd-muted: #121a3f;
  --color-fd-muted-foreground: #cd9ffb;
  --color-fd-popover: #0c122b;
  --color-fd-popover-foreground: #fafafa;
  --color-fd-card: #121a3f;
  --color-fd-card-foreground: #fafafa;
  --color-fd-border: #121a3f;
  --color-fd-primary: #fafafa;
  --color-fd-primary-foreground: #0c122b;
  --color-fd-secondary: #bf91ec;
  --color-fd-secondary-foreground: #0c122b;
  --color-fd-accent: #cd9ffb;
  --color-fd-accent-foreground: #0c122b;
  --color-fd-ring: #bf91ec;
}



@font-face {
  font-family: 'iA Writer Duo';
  src: url('/iAWriterDuo/Webfonts/iAWriterDuoS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Duo';
  src: url('/iAWriterDuo/Webfonts/iAWriterDuoS-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'iA Writer Duo';
  src: url('/iAWriterDuo/Webfonts/iAWriterDuoS-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Duo';
  src: url('/iAWriterDuo/Webfonts/iAWriterDuoS-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url('/iAWriterQuattro/Webfonts/iAWriterQuattroS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url('/iAWriterQuattro/Webfonts/iAWriterQuattroS-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url('/iAWriterQuattro/Webfonts/iAWriterQuattroS-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url('/iAWriterQuattro/Webfonts/iAWriterQuattroS-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

:root {
  --aura-bg: inherit;
  --aura-link: inherit;
}


@layer base {
  @import '@aura-design/system/main.css'; 
}






body {
  font-family: 'iA Writer Duo', sans-serif;
  background-color: var(--color-fd-background);
}
