// Copyright (c) 2021, garitma.com.
// Style compilator
// Licensed under MIT - see LICENSE.txt 

// Aura Design System

// Tokens
@import "tokens/_colors"
@import "tokens/_typography"
@import "tokens/_spacing"
@import "tokens/_container"
@import "tokens/_breakpoints"
@import "tokens/_root"

// Global
@import "global/_mixins"
@import "global/_helpers"

// Layout
@import "layout/_flexbox"
@import "layout/_grid"

// // Fundations
@import "fundations/_colors"
@import "fundations/_typo"
@import "fundations/_spacing"
@import "fundations/_containers"
@import "fundations/_animation"

// Atoms
@import "atoms/_buttons"
@import "atoms/_glyphs_sprite"
@import "atoms/_inputs"
@import "atoms/_select"

// Molecules
@import "molecules/_module"
@import "molecules/_navbar"
@import "molecules/_accordion.styl"
    
// Organism


// Templates
@import "templates/_page"

// Vendors
@import "vendors/_loader"
@import "vendors/_react-hit"
@import "vendors/_prismic.styl"