// Copyright (c) 2020, garitma.com.
// Style compilator
// Licensed under MIT - see LICENSE.txt 

// Aura Design System

// Tokens
@import "tokens/_colors"
@import "tokens/_typography"
@import "tokens/_spacing"
@import "tokens/_container"
@import "tokens/_breakpoints"

// Global
@import "global/_flexbox"
@import "global/_grid"
@import "global/_mixins"
@import "global/_helpers"


// Vendors
@import "vendors/_loader"
@import "vendors/_react-hit"

// // Fundations
@import "fundations/_colors"
@import "fundations/_typo"
@import "fundations/_spacing"
@import "fundations/_containers"
@import "fundations/_animation"


// Atoms
@import "atoms/_buttons"
@import "atoms/_glyphs_sprite"
@import "atoms/_inputs"
@import "atoms/_notice"

// Molecules
@import "molecules/_subheader"
@import "molecules/_module"
@import "molecules/_modalread"
@import "molecules/_pagination"
@import "molecules/_accordion"

// Organism
@import "organism/_navbar"
@import "organism/_footer"

// Templates
@import "templates/_page"


    