/* :::::::::: CSS STYLESHEET TEMPLATE :::::::::: */

/* TOKENS */

/* TYPOGRAPHY */
pre {
  font-family: var(--font-geist-mono);
}
/* LAYOUT */

/* SPACING */

/* COLORS */

/* HELPERS */

/* ATOMS */


/* MOLECULES */

/* ORGANISMS */

a:has(.button-fill, .button-pill, .button-link) {
  outline: none !important;
}


#nprogress .peg {
    display: none !important;
  }
