// Copyright (c) 2020, garitma.com.
// Footer
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

.page-footer-firs-section
    @media only screen and (max-width: $small)
        margin-right auto
        margin-left auto
    .block-copyright
        @media only screen and (max-width: $small)
            text-align: center

#Footer
    @extend .white
    @extend .black-text
    padding (aura * 1.5) (aura)
    bottom 0
    left 0
    right 0
    .firs-section
        @media only screen and (max-width: $small)
            margin-right auto
            margin-left auto
    .copyright
        @media only screen and (max-width: $small)
            text-align center
    .contact-section
        max-width: 220px
        margin-left auto
        @media only screen and (max-width: $small)
            margin-right auto
    .contact-info
        padding 0px (aura * 2)
