// Copyright (c) 2020, garitma.com.
// Navbar
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

header = aura * 4

.navbar
    position absolute
    top 0
    right 0
    left 0
    z-index 6
    display block
    width 100%
    max-width 1600px
    margin 0 auto
    height header
    max-height header
    mixin-user-select(none)

.v-list
    li
        @extend .valign
        @extend .vfluid

.nav-list
    align-items: center
    cursor default
    margin 0 -10px
    width auto
    height header
    mixin-flex()
    -webkit-box-pack justify
    -ms-flex-pack justify
    justify-content space-between
    mixin-user-select(none)

    .item
        line-height 2.7
        letter-spacing -.01em
        position relative
        z-index 1
        display inline-block
        padding 0 aura
        opacity 1
        background no-repeat
        text-decoration none
        outline-offset -7px

.button-menu
    display block
    padding (aura * 0.5) aura
    @extend .h6
    font-weight bold
    text-decoration none
    transform translateZ(0)
    transition opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
    white-space: nowrap
    & input
        max-width 260px
        border: 0
        font-weight: 700
        padding-left: (aura * 3.5)


        
        



