/* :::::::::: CSS STYLESHEET TEMPLATE :::::::::: */

/* TOKENS */

/* TYPOGRAPHY */

/* LAYOUT */

/* SPACING */

/* COLORS */

/* HELPERS */

/* ATOMS */

/* MOLECULES */

/* ORGANISMS */

#nprogress .bar {
    background: var(--aura-loader) !important;
    height: 6.5px !important;
  }
  
  #nprogress .peg {
    display: none !important;
  }
  