// Copyright (c) 2020, garitma.com.
// Colors
// Licensed under MIT - see LICENSE.txt 
// Aura Design System


// Abalible Colors

Orange = #feefe8
OrangeRose = #fee8ef 
Pink = #fee8fc
PinkPurple = #f3e8fe
Purple = #e8ebfe
Blue = #e8f7fe
TealGreen = #e8fef7
Green = #e8feea
LemonGreen = #f3fee8
Yellow = #fefbe8
Black = #262626
ColdGrey = #e8e7ed
Grey = #f6f7f9
Rose = #f8bbd0
PurePink = #f06292
indigo = #1A237E
White = #fff
Snow = #fafafa