*:root
    --aura-font-stack: font-stack
    --aura-snow: Snow
    --aura-purple: Purple
    --aura-white: White
    --aura-black: Black
    --aura-orange: Orange
    --aura-orange-rose: OrangeRose
    --aura-pink: Pink
    --aura-pink-purple: PinkPurple
    --aura-blue: Blue
    --aura-teal-green: TealGreen
    --aura-green: Green
    --aura-lemon-green: LemonGreen
    --aura-yellow: Yellow
    --aura-cold-grey: ColdGrey
    --aura-base-color: darken(Blue, 20%)
    --aura-root: Black
    --aura-dark: White
    --aura-realse: Grey
    --aura-sprite: url("https://images.prismic.io/garitma/614ed5af-628a-4372-96be-2fd730bd3603_sprite_glyphs.png?auto=compress,format")
    --aura-radius: aura

.dark-mode
    --aura-snow: darken(Snow, 90%)
    --aura-purple: darken(Purple, 90%)
    --aura-white: Black
    --aura-black: White
    --aura-orange: darken(Orange, 90%)
    --aura-orange-rose: darken(OrangeRose, 90%)
    --aura-pink: darken(Pink, 90%)
    --aura-pink-purple: darken(PinkPurple, 90%)
    --aura-blue: darken(Blue, 90%)
    --aura-teal-green: darken(TealGreen, 90%)
    --aura-green: darken(Green, 90%)
    --aura-lemon-green: darken(LemonGreen, 90%)
    --aura-yellow: darken(Yellow, 90%)
    --aura-cold-grey:  darken(ColdGrey, 90%)
    --aura-base-color: Black
    --aura-root: White 
    --aura-dark: Black
    --aura-realse: darken(Grey, 90%)
    --aura-sprite: url("https://images.prismic.io/garitma/5650698d-d476-4211-b630-ab7744a7bbb7_sprite_glyphs-dark.png?auto=compress,format")
