*:root
    --aura-font-stack: font-stack
    --aura-font-quotes: font-stack-quote
    --aura-snow: Snow
    --aura-purple: Purple
    --aura-white: White
    --aura-black: Black
    --aura-orange: Orange
    --aura-orange-rose: OrangeRose
    --aura-pink: Pink
    --aura-pink-purple: PinkPurple
    --aura-blue: Blue
    --aura-teal-green: TealGreen
    --aura-green: Green
    --aura-lemon-green: LemonGreen
    --aura-yellow: Yellow
    --aura-cold-grey: ColdGrey
    --aura-grey: Grey
    --aura-bg: var(--aura-white);
    --aura-accents-10: darken(Snow, 99%);
    --aura-accents-9: darken(Snow, 90%);
    --aura-accents-8: darken(Snow, 80%);
    --aura-accents-7: darken(Snow, 70%);
    --aura-accents-6: darken(Snow, 60%);
    --aura-accents-5: darken(Snow, 50%);
    --aura-accents-4: darken(Snow, 40%);
    --aura-accents-3: darken(Snow, 30%);
    --aura-accents-2: darken(Snow, 20%);
    --aura-accents-1: darken(Snow, 1%);
    --aura-accents-0: Snow;
    --aura-module: var(--aura-accents-0);
    --aura-dark: var(--aura-white);
    --aura-accents-primary: var(--aura-black);
    --aura-accents-secondary: darken(Blue, 60%);
    --aura-accents-success: darken(TealGreen, 60%);
    --aura-accents-success-bg: var(--aura-teal-green);
    --aura-accents-info: darken(Purple, 20%);
    --aura-accents-info-bg: var(--aura-purple);
    --aura-accents-warning: darken(Yellow, 60%);
    --aura-accents-warning-bg: var(--aura-yellow);
    --aura-accents-danger: darken(Orange, 60%);
    --aura-accents-danger-bg: var(--aura-orange);
    --aura-accents-radius: var(--aura-radius);
    --aura-input-radius: 6.5px;
    --aura-button-radius: 6.5px;
    --aura-input-bg: var(--aura-grey);
    --aura-input-placeholder-color: rgba(Black, 0.2);
    --aura-radius: aura
    --aura-link-color: var(--aura-fg);
    --aura-opacity: 0.5;
    --aura-selector: darken(TealGreen, 5%)
    --aura-loader: darken(TealGreen, 5%)
    --aura-sprite: url(/sprite_glyphs.png)