*:root
    --aura-font-stack: font-stack
    --aura-snow: Snow
    --aura-purple: Purple
    --aura-white: White
    --aura-black: Black
    --aura-orange: Orange
    --aura-orange-rose: OrangeRose
    --aura-pink: Pink
    --aura-pink-purple: PinkPurple
    --aura-blue: Blue
    --aura-teal-green: TealGreen
    --aura-green: Green
    --aura-lemon-green: LemonGreen
    --aura-yellow: Yellow
    --aura-cold-grey: ColdGrey
    --aura-grey: Grey
    --aura-bg: var(--aura-white);
    --aura-accents-0: var(--aura-black);
    --aura-accents-1: var(--aura-cold-grey);
    --aura-accents-2: var(--aura-grey);
    --aura-accents-primary: var(--aura-black);
    --aura-accents-secondary: darken(Blue, 60%);
    --aura-accents-success: darken(TealGreen, 60%);
    --aura-accents-success-bg: var(--aura-teal-green);
    --aura-accents-info: darken(Purple, 20%);
    --aura-accents-info-bg: var(--aura-purple);
    --aura-accents-warning: darken(Yellow, 60%);
    --aura-accents-warning-bg: var(--aura-yellow);
    --aura-accents-danger: darken(Orange, 60%);
    --aura-accents-danger-bg: var(--aura-orange);
    --aura-accents-radius: var(--aura-radius);
    --aura-input-radius: var(--aura-radius);
    --aura-button-radius: var(--aura-radius);
    --aura-input-bg: var(--aura-grey);
    --aura-input-placeholder-color: rgba(Black, 0.2);
    --aura-radius: aura
    --aura-link-color: var(--aura-fg);
    --aura-opacity: 0.5;
    --aura-sprite: url("https://images.prismic.io/garitma/614ed5af-628a-4372-96be-2fd730bd3603_sprite_glyphs.png?auto=compress,format")