// Copyright (c) 2020, garitma.com.
// Sprites
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

Sprites = https://images.prismic.io/garitma%2F3e9f147d-23c5-456b-bbfe-011921bbdac1_sprite_glyphs.png?auto=compress,forma