// Copyright (c) 2020, garitma.com.
// Typography
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

// Font stack
font-stack = "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-stack-quote = serif;

// Visual font scale
visualScale-h1 = 3.052em  
visualScale-h2 = 2.441em  
visualScale-h3 = 2.28rem  
visualScale-h4 = 1.953em 
visualScale-h5 = 1.563em  
visualScale-h6 = 1.25em  
visualScale-base = 1em 
visualScale-s1 = 0.8em 
visualScale-s2 = 0.64em 
visualScale-s3 = 0.512em 