// Copyright (c) 2021, garitma.com.
// Flexbox
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

flexsize = (1..12)

.halo
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;


for i in flexsize 
    .halo .small-{i}
        flex-basis: ((100% / 12) * i)
        max-width: ((100% / 12) * i)

@media only screen and (min-width: $small)
    for i in flexsize 
        .halo .medium-{i}
            flex-basis: ((100% / 12) * i)
            max-width: ((100% / 12) * i)

@media only screen and (min-width: $large)
    for i in flexsize 
        .halo .large-{i}
            flex-basis: ((100% / 12) * i)
            max-width: ((100% / 12) * i)

.reverse
    flex-direction: row-reverse;
