// Copyright (c) 2020, garitma.com.
// Animation
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

         
$pulse = pulse
$floating = floating

@keyframes {pulse}
  for i in 0..10
    {10% * i}
      opacity (i/10)

@keyframes {floating}
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }

.pulse
    animation-name: pulse
    animation-duration: 0.2s

.floating
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
