// Copyright (c) 2021, garitma.com.
// Colors Configuration
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

.snow
    background-color var(--aura-snow)!important

.purple
    background-color var(--aura-purple)!important

.white
    background-color var(--aura-white)!important

.black
    background-color var(--aura-black)!important

.orange
    background-color var(--aura-orange)!important

.orange-rose
    background-color var(--aura-orange-rose)!important

.pink
    background-color var(--aura-pink)!important

.pink-purple
    background-color var(--aura-pink-purple)!important

.blue
    background-color var(--aura-blue)!important

.teal-green
    background-color var(--aura-teal-green)!important

.green
    background-color var(--aura-green)!important

.lemon-green
    background-color: var(--aura-lemon-green)!important

.yellow
    background-color var(--aura-yellow)!important

.yellow-text
    color var(--aura-yellow)!important

.cold-grey
    background-color var(--aura-cold-grey)!important

.white-text
    color var(--aura-white)!important

.black-text
    color var(--aura-black)!important

.warning
    background-color: var(--aura-accents-warning-bg)!important

.warning-text
    color: var(--aura-accents-warning)

.info
    background-color: var(--aura-accents-info-bg)!important

.info-text
    color: var(--aura-accents-info) !important

.danger
    background-color: var(--aura-accents-danger-bg) !important

.danger-text
    color: var(--aura-accents-danger) !important

.success
    background-color: var(--aura-accents-success-bg) !important

.success-text
    color: var(--aura-accents-success) !important

.accents-10
    background-color: var(--aura-accents-10) !important
.accents-9
    background-color: var(--aura-accents-9) !important

.accents-8
    background-color: var(--aura-accents-8) !important

.accents-7
    background-color: var(--aura-accents-7) !important

.accents-6 
    background-color: var(--aura-accents-6)!important

.accents-5
    background-color: var(--aura-accents-5) !important

.accents-4
    background-color: var(--aura-accents-4) !important

.accents-3
    background-color: var(--aura-accents-3) !important

.accents-2 
    background-color: var(--aura-accents-2) !important

.accents-1
    background-color: var(--aura-accents-1) !important

.accents-0
    background-color: var(--aura-accents-0) !important

.primary {
  background-color: var(--aura-accents-primary)!important;
}