// Copyright (c) 2020, garitma.com.
// Colors Configuration
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

BaseColor = Blue
Root = Black
Dark = White
Realse = Grey

.snow
    background-color var(--aura-snow)!important

.purple
    background-color var(--aura-purple)!important

.white
    background-color var(--aura-white)!important

.black
    background-color var(--aura-black)!important

.orange
    background-color var(--aura-orange)!important

.orange-rose
    background-color var(--aura-orange-rose)!important

.pink
    background-color var(--aura-pink)!important

.pink-purple
    background-color var(--aura-pink-purple)!important

.blue
    background-color var(--aura-blue)!important

.teal-green
    background-color var(--aura-teal-green)!important

.green
    background-color var(--aura-green)!important

.lemon-green
    background-color: var(--aura-lemon-green)!important

.yellow
    background-color var(--aura-yellow)!important

.yellow-text
    color var(--aura-yellow)!important

.cold-grey
    background-color var(--aura-cold-grey)!important

.white-text
    color var(--aura-white)!important

.black-text
    color var(--aura-black)!important

.warning
    background-color: var(--aura-accents-warning-bg)!important

.warning-text
    color: var(--aura-accents-warning)

.info
    background-color: var(--aura-accents-info-bg)!important

.info-text
    color: var(--aura-accents-info)!important

.danger
    background-color: var(--aura-accents-danger-bg)!important

.danger-text
    color: var(--aura-accents-danger)!important

.success
    background-color: var(--aura-accents-success-bg)!important

.success-text
    color: var(--aura-accents-success)!important
