// Copyright (c) 2020, garitma.com.
// Colors Configuration
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

*:root
    --snow: Snow
    --purple: Purple
    --white: White
    --black: Black
    --orange: Orange
    --orange-rose: OrangeRose
    --pink: Pink
    --pink-purple: PinkPurple
    --blue: Blue
    --teal-green: TealGreen
    --green: Green
    --lemon-green: LemonGreen
    --yellow: Yellow
    --cold-grey: ColdGrey
    --base-color: darken(Blue, 20%)
    --root: Black
    --dark: White
    --realse: Grey

.dark-mode
    --snow: darken(Snow, 90%)
    --purple: darken(Purple, 65%)
    --white: Black
    --black: White
    --orange: darken(Orange, 65%)
    --orange-rose: darken(OrangeRose, 65%)
    --pink: darken(Pink, 65%)
    --pink-purple: darken(PinkPurple, 65%)
    --blue: darken(Blue, 65%)
    --teal-green: darken(TealGreen, 65%)
    --green: darken(Green, 65%)
    --lemon-green: darken(LemonGreen, 65%)
    --yellow: darken(Yellow, 65%)
    --cold-grey:  darken(ColdGrey, 65%)
    --base-color: darken(Blue, 20%)
    --root: White 
    --dark: Black
    --realse: darken(Grey, 80%)

BaseColor = Blue
Root = Black
Dark = White
Realse = Grey

.snow
    background-color var(--snow)!important

.purple
    background-color var(--purple)!important

.white
    background-color var(--white)!important

.black
    background-color var(--black)!important

.orange
    background-color var(--orange)!important

.orange-rose
    background-color var(--orange-rose)!important

.pink
    background-color var(--pink)!important

.pink-purple
    background-color var(--pink-purple)!important

.blue
    background-color var(--blue)!important

.teal-green
    background-color var(--teal-green)!important

.green
    background-color var(--green)!important

.lemon-green
    background-color: var(--lemon-green)!important

.yellow
    background-color var(--yellow)!important

.cold-grey
    background-color var(--cold-grey)!important

.white-text
    color var(--white)!important

.black-text
    color var(--black)!important