// Copyright (c) 2021, garitma.com.
// Container
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

smish = 250px
smosh = 440px
smash = 740px
smush = 1032px
smesh = 1600px

.container
    margin: 0 auto

.smish
    @extend .container
    max-width smish

.smosh
    @extend .container
    max-width smosh

.smash
    @extend .container
    max-width smash

.smush
    @extend .container
    max-width smush

.smesh
    @extend .container
    max-width smesh