// Copyright (c) 2021, garitma.com.
// Typo
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

hr
    border: 0

.pad
    padding: (aura * 3.5) (aura) (aura * 1.5)
    @media only screen and (max-width: $small)
        padding: (aura * 2) aura aura aura
        &-air
            padding: (aura * 4) (aura) (aura * 4)


.inside-pad
    padding 0 aura * 0.5
    @media only screen and (max-width: $small)
        padding 0
.aura
    padding: aura

.wall-pad
    padding 0 aura

.mb0
    margin-bottom: 0!important

.mr0
    margin-right: 0!important

.ml0
    margin-left: 0!important

.mt0
    margin-top: 0!important

.m0
    margin: 0!important

.p0
    padding 0!important

.gap0
    grid-gap: 0!important

