// Copyright (c) 2021, garitma.com.
// Typo
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

// General

html
    font-family var(--aura-font-stack) 
    line-height 1.21053
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    box-sizing: border-box;

pre
    font-family var(--aura-font-stack)

body
    mixin-visual-scale(visualScale-base, 1, 1)


// Headlines

h1,h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: clamp(var(--min), var(--val), var(--max));
  margin: 0
  padding: 0
}

h1, .h1 {
  --min: visualScale-h1 * 0.65; // minimum value
  --val: 2.5vw; // preferred value = 2.5% viewport width
  --max: visualScale-h1; // maximum value
}

h2, .h2 {
  --min: visualScale-h2 * 0.65; // minimum value
  --val: 2.4vw; // preferred value = 2.5% viewport width
  --max: visualScale-h2; // maximum value
}


h3, .h3 {
  --min: visualScale-h3 * 0.65; // minimum value
  --val: 2.3vw; // preferred value = 2.5% viewport width
  --max: visualScale-h3; // maximum value
}

h4, .h4 {
  --min: visualScale-h4 * 0.65; // minimum value
  --val: 2.2vw; // preferred value = 2.5% viewport width
  --max: visualScale-h4; // maximum value
}

h5, .h5 {
  --min: visualScale-h5 * 0.75; // minimum value
  --val: 2.1vw; // preferred value = 2.5% viewport width
  --max: visualScale-h5; // maximum value
}

h6, .h6 {
  --min: visualScale-h6 * 0.85; // minimum value
  --val: 2vw; // preferred value = 2.5% viewport width
  --max: visualScale-h6; // maximum value
}

h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6, h2+h1, h2+h2, h2+h3, h2+h4, h2+h5, h2+h6, h3+h1, h3+h2, h3+h3, h3+h4, h3+h5, h3+h6, h4+h1, h4+h2, h4+h3, h4+h4, h4+h5, h4+h6, h5+h1, h5+h2, h5+h3, h5+h4, h5+h5, h5+h6, h6+h1, h6+h2, h6+h3, h6+h4, h6+h5, h6+h6 {
    margin-top: aura * 0.5;
}

h1+*, h2+*, h3+*, h4+*, h5+*, h6+* {
    margin-top: aura;
}

// Content

p
    margin: aura 0

blockquote
    font-family var(--aura-font-quotes)
    text-transform uppercase
    font-weight 600
    @extend .h4

ul
    margin 0
    padding 0
    list-style none

// Weight

.light
    font-weight 200 !important

.regular 
  font-weight: 400 !important;

.bold 
  font-weight: 700 !important;

