// Copyright (c) 2021, garitma.com.
// Typo
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

// General

html
    font-family var(--aura-font-stack) 
    line-height 1.21053
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    box-sizing: border-box;

pre
    font-family var(--aura-font-stack)

body
    mixin-visual-scale(visualScale-base, 1, 1)


// Headlines

headlines = (1..6)

for i in headlines
    h{i}, .h{i}
        font-size: visualScale-h + i


// Content

p
    margin: aura 0

blockquote
    font-family var(--aura-font-quotes)
    text-transform uppercase
    margin 0
    font-weight 600
    @extend .h4

ul
    margin 0
    padding 0
    list-style none

// Weight

.light
    font-weight 200 !important

.regular 
  font-weight: 400 !important;

.bold 
  font-weight: 700 !important;

