// Copyright (c) 2020, garitma.com.
// Typo
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

// General



html
    font-family var(--aura-font-stack) 
    line-height 1.7
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    box-sizing: border-box;

pre
    font-family var(--aura-font-stack)

body
    letter-spacing -.022em
    mixin-visual-scale(visualScale-base, 0.95, 0.90)


// Headlines

h1, .h1
    mixin-visual-scale(visualScale-h1, 0.85, 0.75)

h2, .h2
    mixin-visual-scale(visualScale-h2, 0.85, 0.75)

h3, .h3
    mixin-visual-scale(visualScale-h3, 0.85, 0.75)

h4, .h4
    mixin-visual-scale(visualScale-h4, 0.9, 0.9)

h5, .h5
    mixin-visual-scale(visualScale-h5, 0.9, 0.9)

h6, .h6
    mixin-visual-scale(visualScale-h6, 0.9, 0.9)

.ps
    mixin-visual-scale(visualScale-base, 0.9, 0.75)

// Content

p
    margin: aura 0

blockquote
    font-family serif
    text-transform uppercase
    margin 0
    font-weight 600
    @extend .h4

ul
    margin 0
    padding 0
    list-style none

// Weight

.light
    font-weight 200 !important
    h1, h2, h3, h4, h5, h6
        font-weight 200 !important

