// Copyright (c) 2020, garitma.com.
// Prismic Button
// Licensed under MIT - see LICENSE.txt 

// Aura Design System

.wio-link 
    position fixed
    bottom 30px
    right 30px
    display inline-flex
    justify-content center
    align-items center
    width 42px
    height 42px
    border-radius 21px
    background-color Purple
    color dark

.mod
    .wio-link
        position absolute
        top 0
        right 0
        opacity 0
    &:hover
        .wio-link
            opacity 1
            background White