// Copyright (c) 2020, garitma.com.
// React sound cloud
// Licensed under MIT - see LICENSE.txt 

// Aura Design System

 .igagJy h4 
    margin: 0 0 13px 0!important
    font-size: 17px
    font-weight: 200
    
.dLjWml
    background-color: #212121!important

.bxqrcA 
    border: 0!important
    display: block!important
