.react-multiple-carousel__arrow
    background-color: #212121!important
.react-multiple-carousel__arrow::before
    color:#ffffff!important

.react-multi-carousel-dot button
    border: 0!important

.react-multi-carousel-dot--active button
    background-color #212121!important

.react-multiple-carousel__arrow--right
    z-index 1!important

.react-multi-carousel-dot button 
    background-color: #939393