*:root {
  --aura: 13px;
  --aura-font-stack: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --aura-font-quotes: serif;
  --aura-snow: #fafafa;
  --aura-purple: #e8ebfe;
  --aura-white: #fff;
  --aura-black: #000;
  --aura-orange: #feefe8;
  --aura-orange-rose: #fee8ef;
  --aura-pink: #fee8fc;
  --aura-pink-purple: #f3e8fe;
  --aura-blue: #e8f7fe;
  --aura-teal-green: #e8fef7;
  --aura-green: #e8feea;
  --aura-lemon-green: #f3fee8;
  --aura-yellow: #fefbe8;
  --aura-cold-grey: #e8e7ed;
  --aura-grey: #f6f7f9;
  --aura-bg: var(--aura-white);
  --aura-text-primary: #030303;
  --aura-text-primary-inverse: #fff;
  --aura-accents-4: #d0d0e6;
  --aura-accents-3: #dadaeb;
  --aura-accents-2: #e6e6f2;
  --aura-accents-1: #ededf5;
  --aura-accents-0: #fafafa;
  --aura-module: var(--aura-accents-0);
  --aura-accents-primary: var(--aura-black);
  --aura-accents-secondary: #0882ba;
  --aura-accents-success: #045d3c;
  --aura-accents-success-bg: var(--aura-teal-green);
  --aura-accents-info: #0927ec;
  --aura-accents-info-bg: var(--aura-purple);
  --aura-accents-warning: #5d5104;
  --aura-accents-warning-bg: var(--aura-yellow);
  --aura-accents-danger: #8e3106;
  --aura-accents-danger-bg: var(--aura-orange);
  --aura-input-radius: 6.5px;
  --aura-button-radius: 6.5px;
  --aura-input-bg: #f0f0f7;
  --aura-input-placeholder-color: rgba(0, 0, 0, 0.5);
  --aura-radius: 13px;
  --aura-opacity: 0.5;
  --aura-outline: #0927ec solid 2px;
  --aura-button-hover: #323232;
  --aura-link: var(--aura-text-primary);
  --aura-link-hover: var(--aura-accents-1);
  --aura-selector: #d1fdef;
  --aura-loader: #d1fdef;
  --aura-sprite: url("/sprite_glyphs.png");
}
.uline {
  text-decoration: underline;
}
.ulinea a:not(.button-link, .button-fill) {
  text-decoration: underline;
}
.logo-circle {
  padding: 9px !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  z-index: 4 !important;
}
.centertxt {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .centertxt-small {
    text-align: center;
  }
}
.lefttxt {
  text-align: left;
}
.righttxt {
  text-align: right;
}
.valign,
.v-list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.vfluid,
.v-list li {
  height: 100% !important;
}
.fluid {
  width: 100% !important;
}
.circle {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
}
.square {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
.disabled,
.button:disabled,
.button-fill:disabled,
.button-pill:disabled,
.button-link:disabled,
.button-menu:disabled,
textarea:not(.default):disabled,
input:not(.default):disabled,
select:not(.default):disabled {
  opacity: var(--aura-opacity);
  cursor: default;
}
.predisabled {
  opacity: var(--aura-opacity);
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.predisabled:hover {
  opacity: 1;
}
.typeahead {
  padding-left: calc(var(--aura) * 6) !important;
}
.flowx {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.flowcancel {
  overflow: hidden;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anchor {
  position: relative;
}
.overley {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 5;
}
.hold {
  position: fixed;
  z-index: 7;
}
.pin {
  position: absolute;
  z-index: 2;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.z10 {
  z-index: 10;
}
.hidden {
  display: none;
}
@media only screen and (max-width: 767px) {
  .hide-small {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1155px) {
  .hide-medium {
    display: none;
  }
}
@media only screen and (min-width: 1155px) {
  .hide-large {
    display: none;
  }
}
.notevent {
  pointer-events: none;
}
.pointer {
  cursor: pointer;
}
.scrolleable {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50vh;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.b0 {
  border: 0 !important;
}
.halo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.halo .column {
  flex-direction: column;
}
.reverse {
  flex-direction: row-reverse;
}
.halo .small-1 {
  flex-basis: 8.333333333333334%;
  max-width: 8.333333333333334%;
}
.halo .small-2 {
  flex-basis: 16.666666666666668%;
  max-width: 16.666666666666668%;
}
.halo .small-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.halo .small-4 {
  flex-basis: 33.333333333333336%;
  max-width: 33.333333333333336%;
}
.halo .small-5 {
  flex-basis: 41.66666666666667%;
  max-width: 41.66666666666667%;
}
.halo .small-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.halo .small-7 {
  flex-basis: 58.333333333333336%;
  max-width: 58.333333333333336%;
}
.halo .small-8 {
  flex-basis: 66.66666666666667%;
  max-width: 66.66666666666667%;
}
.halo .small-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.halo .small-10 {
  flex-basis: 83.33333333333334%;
  max-width: 83.33333333333334%;
}
.halo .small-11 {
  flex-basis: 91.66666666666667%;
  max-width: 91.66666666666667%;
}
.halo .small-12 {
  flex-basis: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 767px) {
  .halo .medium-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .halo .medium-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .halo .medium-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .halo .medium-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .halo .medium-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .halo .medium-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .halo .medium-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .halo .medium-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .halo .medium-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .halo .medium-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .halo .medium-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .halo .medium-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1155px) {
  .halo .large-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .halo .large-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .halo .large-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .halo .large-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .halo .large-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .halo .large-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .halo .large-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .halo .large-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .halo .large-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .halo .large-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .halo .large-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .halo .large-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.aureole {
  display: grid;
  grid-gap: var(--aura);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media only screen and (max-width: 767px) {
  .aureole:not(.fixed) {
    grid-template-columns: minmax(0, 1fr) !important;
  }
}
.aureole.one {
  grid-template-columns: minmax(0, 1fr);
}
.aureole.two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.aureole.four {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.aureole.five {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.aureole.six {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.aureole.twelve {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.aureole.blog {
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}
.aureole.docs {
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
}
@media only screen and (min-width: 767px) {
  .aureole.reverse .one {
    order: 2;
  }
  .aureole.reverse .two {
    order: 1;
  }
}
.span-1 {
  grid-column: span 1;
}
.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}
.span-4 {
  grid-column: span 4;
}
.span-5 {
  grid-column: span 5;
}
.span-6 {
  grid-column: span 6;
}
.span-7 {
  grid-column: span 7;
}
.span-8 {
  grid-column: span 8;
}
.span-9 {
  grid-column: span 9;
}
.span-10 {
  grid-column: span 10;
}
.span-11 {
  grid-column: span 11;
}
.span-12 {
  grid-column: span 12;
}
.white-text {
  color: var(--aura-white) !important;
}
.black-text {
  color: var(--aura-black) !important;
}
.snow {
  background-color: var(--aura-snow) !important;
}
.purple {
  background-color: var(--aura-purple) !important;
}
.white {
  background-color: var(--aura-white) !important;
}
.black {
  background-color: var(--aura-black) !important;
}
.orange {
  background-color: var(--aura-orange) !important;
}
.orange-rose {
  background-color: var(--aura-orange-rose) !important;
}
.pink {
  background-color: var(--aura-pink) !important;
}
.blue {
  background-color: var(--aura-blue) !important;
}
.teal-green {
  background-color: var(--aura-teal-green) !important;
}
.green {
  background-color: var(--aura-green) !important;
}
.lemon-green {
  background-color: var(--aura-lemon-green) !important;
}
.yellow {
  background-color: var(--aura-yellow) !important;
}
.cold-grey {
  background-color: var(--aura-cold-grey) !important;
}
.accents-0 {
  background-color: var(--aura-accents-0) !important;
}
.accents-1 {
  background-color: var(--aura-accents-1) !important;
}
.accents-2 {
  background-color: var(--aura-accents-2) !important;
}
.accents-3 {
  background-color: var(--aura-accents-3) !important;
}
.accents-4 {
  background-color: var(--aura-accents-4) !important;
}
.warning {
  background-color: var(--aura-accents-warning-bg) !important;
}
.warning-text {
  color: var(--aura-accents-warning) !important;
}
.info {
  background-color: var(--aura-accents-info-bg) !important;
}
.info-text {
  color: var(--aura-accents-info) !important;
}
.danger {
  background-color: var(--aura-accents-danger-bg) !important;
}
.danger-text {
  color: var(--aura-accents-danger) !important;
}
.success {
  background-color: var(--aura-accents-success-bg) !important;
}
.success-text {
  color: var(--aura-accents-success) !important;
}
html {
  font-family: var(--aura-font-stack);
  line-height: 1.21053;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
}
pre {
  font-family: var(--aura-font-stack);
}
body {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
blockquote {
  font-size: clamp(var(--min), var(--val), var(--max));
  margin: 0;
  padding: 0;
}
h1,
.h1 {
  --min: 1.9838rem;
  --val: 4.029999999999999vw;
  --max: 3.052rem;
}
h2,
.h2 {
  --min: 1.58665rem;
  --val: 4.029999999999999vw;
  --max: 2.441rem;
}
h3,
.h3 {
  --min: 1.482rem;
  --val: 4.029999999999999vw;
  --max: 2.28rem;
}
h4,
.h4,
blockquote {
  --min: 1.26945rem;
  --val: 4.029999999999999vw;
  --max: 1.953rem;
}
h5,
.h5 {
  --min: 1.17225rem;
  --val: 4.029999999999999vw;
  --max: 1.563rem;
}
h6,
.h6 {
  --min: 1.0625rem;
  --val: 4.029999999999999vw;
  --max: 1.25rem;
}
p {
  margin: var(--aura) 0;
}
blockquote {
  font-family: var(--aura-font-quotes);
  text-transform: uppercase;
  font-weight: 600;
}
ul:not(.default) {
  margin: 0;
  padding: 0;
  list-style: none;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin: var(--aura) 0;
}
.light {
  font-weight: 200 !important;
}
.regular {
  font-weight: 400 !important;
}
.bold {
  font-weight: 700 !important;
}
hr {
  border: 0;
}
.pad {
  padding: 45.5px var(--aura) 19.5px;
}
@media only screen and (max-width: 767px) {
  .pad {
    padding: 26px var(--aura) var(--aura) var(--aura);
  }
  .pad-air {
    padding: 52px var(--aura) 52px;
  }
}
.aura {
  padding: var(--aura);
}
.wall-pad,
.inputer {
  padding: 0 var(--aura);
}
.uptop-pad {
  padding: var(--aura) 0;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb13 {
  margin-bottom: 13px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt13 {
  margin-top: 13px !important;
}
.m0 {
  margin: 0 !important;
}
.p0 {
  padding: 0 !important;
}
.g0 {
  grid-gap: 0 !important;
}
.container,
.smish,
.smosh,
.smash,
.smush,
.smesh,
.mod-media img,
.block-img img,
div[data-type="static_image"] img {
  margin: 0 auto;
}
.smish {
  max-width: 250px;
}
.smosh {
  max-width: 440px;
}
.smash {
  max-width: 740px;
}
.smush {
  max-width: 1032px;
}
.smesh {
  max-width: 1600px;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.zoom img {
  transform-origin: 50% 65%;
  transition: transform 0.3s;
}
.zoom:hover img {
  transform: scale(1.05);
}
@-moz-keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0);
  }
}
@-o-keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0);
  }
}
a {
  text-decoration: none;
  color: var(--aura-link);
}
a:visited:not([class*="button-"]) {
  color: inherit;
}
a:active {
  outline: var(--aura-outline);
}
.button,
.button-fill,
.button-pill,
.button-link,
.button-menu {
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  font: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: var(--aura-button-radius);
  -webkit-border-radius: var(--aura-button-radius);
  -moz-border-radius: var(--aura-button-radius);
  transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1) linear;
  -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1) linear;
  -moz-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1) linear;
  font-weight: 600;
  display: inline-flex;
  height: calc(var(--aura) * 4);
  padding: 0 calc(var(--aura) * 2);
  border: 2px solid;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}
.button:hover,
.button-fill:hover,
.button-pill:hover,
.button-link:hover,
.button-menu:hover {
  transform: scale(1.03);
}
.button:active,
.button-fill:active,
.button-pill:active,
.button-link:active,
.button-menu:active {
  transform: scale(0.97);
  outline: var(--aura-outline);
}
.button-fill {
  border-color: var(--aura-accents-primary);
  color: var(--aura-text-primary-inverse);
  background-color: var(--aura-accents-primary);
}
.button-fill:hover:not(:disabled) {
  background-color: var(--aura-button-hover);
}
.button-pill {
  color: var(--aura-accents-primary);
  border-color: var(--aura-accents-primary);
  background-color: transparent;
}
.button-pill:hover:not(:disabled) {
  background-color: var(--aura-link-hover);
}
.button-link {
  color: var(--aura-link);
  border: 0;
  text-decoration: underline;
  background-color: transparent;
}
.button-link:hover:not(:disabled) {
  color: var(--aura-base-color);
  background-color: var(--aura-link-hover);
}
.button-menu {
  font-weight: bold;
  padding: calc(var(--aura) * 0.5) var(--aura);
  border: 0;
  text-decoration: none;
}
.inputer {
  position: relative;
  margin-bottom: calc(var(--aura) * 1.5);
}
.inputer-group {
  position: relative;
  box-sizing: border-box;
}
.inputer-group label:not(.default) {
  position: absolute;
  transform-origin: top left;
  transform: translate(26px, 0);
}
.inputer-group .typeahead {
  padding-left: 78px;
}
.inputer-group .typeahead + label {
  transform: translate(78px, 0);
}
label:not(.default),
input:not(.default) {
  transition: all 0.1s ease-in-out;
  touch-action: manipulation;
}
textarea:not(.default) {
  border-radius: var(--aura-input-radius);
  -webkit-border-radius: var(--aura-input-radius);
  -moz-border-radius: var(--aura-input-radius);
  width: 100%;
  border: 0;
  background-color: var(--aura-input-bg);
  box-sizing: border-box;
  box-shadow: none;
  color: var(--aura-accents-10);
  font-family: inherit;
  font: inherit;
  height: 106px;
  padding: calc(var(--aura) * 2);
}
textarea:not(.default):focus {
  background: var(--aura-input-bg);
  outline: var(--aura-outline);
}
textarea:not(.default)::placeholder {
  color: var(--aura-input-placeholder-color);
}
input:not(.default) {
  border-radius: var(--aura-input-radius);
  -webkit-border-radius: var(--aura-input-radius);
  -moz-border-radius: var(--aura-input-radius);
  width: 100%;
  background-color: var(--aura-input-bg);
  border: 0;
  box-sizing: border-box;
  box-shadow: none;
  color: var(--aura-accents-10);
  font-family: inherit;
  font: inherit;
  height: calc(var(--aura) * 4);
  padding: calc(var(--aura) * 2);
  line-height: calc(var(--aura) * 4);
  cursor: text;
}
input:not(.default):focus {
  background: var(--aura-input-bg);
  outline: var(--aura-outline);
}
input:not(.default)::placeholder {
  color: var(--aura-input-placeholder-color);
}
input:not(.default):not(:placeholder-shown):not(.naked) {
  padding: calc(var(--aura) * 2.5) calc(var(--aura) * 2) calc(var(--aura) * 1.5)
    calc(var(--aura) * 2);
}
input:not(.default):placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  opacity: 0;
  z-index: -1;
}
input:not(.default):not(:placeholder-shown) + label {
  opacity: 1;
  cursor: pointer;
  z-index: 0;
}
select:not(.default) {
  color: var(--aura-accents-10);
  background-color: var(--aura-input-bg);
  width: 100%;
  font-family: inherit;
  font: inherit;
  height: calc(var(--aura) * 4);
  padding: 0 calc(var(--aura) * 2);
  line-height: calc(var(--aura) * 4);
  box-sizing: border-box;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--aura-input-radius);
  -webkit-border-radius: var(--aura-input-radius);
  -moz-border-radius: var(--aura-input-radius);
}
select:not(.default):focus {
  outline: var(--aura-outline);
}
.dropdown {
  position: absolute;
  right: calc(var(--aura) * 2.5);
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}
summary:focus {
  outline: var(--aura-outline);
  margin-bottom: var(--aura);
}
.mod {
  background-color: var(--aura-module);
  border-radius: var(--aura-radius);
  -webkit-border-radius: var(--aura-radius);
  -moz-border-radius: var(--aura-radius);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.mod-media,
.block-img,
div[data-type="static_image"] {
  position: relative;
  overflow: hidden;
}
.mod-media img,
.block-img img,
div[data-type="static_image"] img {
  max-width: 100%;
  display: block;
  position: relative;
  object-fit: cover;
}
.mod-detail {
  border-radius: var(--aura-radius);
  -webkit-border-radius: var(--aura-radius);
  -moz-border-radius: var(--aura-radius);
  background-color: var(--aura-module);
  padding: calc(var(--aura) * 2);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.block-img,
div[data-type="static_image"] {
  border-radius: var(--aura-radius);
  -webkit-border-radius: var(--aura-radius);
  -moz-border-radius: var(--aura-radius);
}
.nav-list {
  align-items: center;
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: calc(var(--aura) * 4);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-list .item {
  line-height: 2.7;
  letter-spacing: -0.01em;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 var(--aura);
  opacity: 1;
  background: no-repeat;
  text-decoration: none;
  outline-offset: -7px;
}
details > summary {
  list-style-type: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details .dropdown .icon {
  transition: all 0.3s;
}
details[open] > summary .dropdown .icon {
  transform: rotate(180deg);
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
}
main {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 2550px;
}
.page {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--aura-accents-0);
  color: var(--aura-accents-10);
}
.page-pancake {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.page-dashboard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100px 1fr;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  touch-action: manipulation;
}
*::selection {
  color: var(--aura-accents-10);
  background: var(--aura-selector);
}
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: var(--aura-loader);
}
.videoWrapper,
div[data-oembed-type="video"] {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  text-align: center;
  overflow: hidden;
}
.videoWrapper iframe,
div[data-oembed-type="video"] iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div[data-type="static_image"] img {
  width: 100%;
}
