// Copyright (c) 2021, garitma.com.
// Accordion
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

.hide-content
    display none

.accor
    @extend .mod
    @extend .wall-pad
    &-title
        @extend .mod-title
        cursor pointer
    &-hide
        display: none
    &-detail
        display: none
        @extend .mod-detail
        background-color: var(--aura-accents-0)
    &-glyph
        @extend .glyphsSprite
        transition transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)

.on
    .accor
        &-detail
            display: block
        &-hide
            display block
        &-glyph
            transform rotate(180deg)
    &.hide-content
        display block
        

            