.modal-read
    position fixed
    left 0
    right 0
    bottom 0
    top 0
    z-index 7
    background White
    overflow-y: auto

.modal
    &-container
        z-index 6 
        @extend .action
        width: 100%;
        height: auto;
        max-height: 80%;
        position fixed
    &-overlay
        position fixed
        left 0
        right 0
        bottom 0
        top 0
        background-color: Root
        opacity: 0.3
        z-index 2