// Copyright (c) 2020, garitma.com.
// Module
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

.mod
    background-color var(--aura-accents-0)
    mixin-border-radius(var(--aura-radius))
    box-sizing border-box
    position relative
    overflow hidden
    &-media
        position relative
        overflow hidden
        img
            @extend .container
            max-width: 100%;
            display: block;
            position: relative;
            object-fit: cover;
    &-detail
        mixin-border-radius(var(--aura-radius))
        background-color var(--aura-accents-0)
        padding aura * 2
        display flex
        flex-direction: column
        flex-grow: 1
    &-title
        @extend .h5 
    &-action
        @extend .centertxt 

.block-img
    @extend .mod-media
    mixin-border-radius(var(--aura-radius))

div[data-type="static_image"]
    @extend .block-img
    img
        width: 100%


    
  
        

