
.page-numbers
    height aura * 4
    line-height aura * 4

.current-page
    border-mixin-border-radius(aura)
    border 0
    box-sizing border-box
    box-shadow none
    color Root
    text-align right
    margin-right aura * 0.5
    @extend p
    
#paginationform
    display inline-layer