.SubHeader
    background: var(--sub-header)
    background-position: center
    background-size: cover
    overflow hidden
    padding (aura * 4.5) aura aura aura
    .SubHeader-title
        text-align: center
        padding: (aura * 1.5)
        font-weight: 300
        &::first-letter
            text-transform: capitalize