// Copyright (c) 2021, garitma.com.
// Buttons
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

[class*='button-']
    cursor pointer
    box-sizing: border-box
    margin: 0px
    letter-spacing: normal
    word-spacing: normal
    text-transform: none
    text-indent: 0px
    text-shadow: none
    font: inherit
    mixin-align-items(center)
    mixin-border-radius(var(--aura-button-radius))
    mixin-transition(300ms, background, cubic-bezier(0.4, 0, 0.6, 1) linear)
    font-weight: 600
    display inline-flex
    height (aura * 2) * 2
    padding 0 (aura * 2)
    border 2px solid
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    &:disabled
        @extend .disabled
    &:hover
        transform: scale(1.03);
    &:active
        transform: scale(0.97);
        outline 2px dotted var(--aura-outline)
        outline-offset: 3px

.button-fill
    border-color var(--aura-accents-primary)
    color var(--aura-text-primary-inverse)
    background-color var(--aura-accents-primary)
    &:hover:not(:disabled)
        background-color var(--aura-button-hover)

.button-pill
    color var(--aura-accents-primary)
    border-color var(--aura-accents-primary)
    background-color transparent
    &:hover:not(:disabled)
        background-color var(--aura-link-hover)

.button-link
    color: var(--aura-link)
    border: 0
    text-decoration: underline
    background-color transparent
    &:hover:not(:disabled)
        color: var(--aura-base-color)
        background-color: var(--aura-link-hover)

.button-menu
    font-weight: bold
    padding: (aura * 0.5) aura
    border: 0
    text-decoration: none
a
    text-decoration: none
    color var(--aura-accents-10)
    &:visited:not([class*='button-'])
        color: inherit
    &:active
        outline 2px dotted var(--aura-outline)
        outline-offset: 3px
    
   

