// Copyright (c) 2020, garitma.com.
// Buttons
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

.interactive
    min-width 48px
    min-height 48px 

.button
    -webkit-writing-mode: horizontal-tb !important
    box-sizing: border-box
    margin: 0em
    letter-spacing: normal
    word-spacing: normal
    text-transform: none
    text-indent: 0px
    text-shadow: none
    font: inherit
    mixin-align-items(center)
    mixin-border-radius(aura)
    mixin-transition(300ms, background, cubic-bezier(0.4, 0, 0.6, 1) linear)
    font-weight: 600
    display inline-flex
    height (aura * 2) * 2
    padding 0 (aura * 2)
    border 2px solid
   
    

.button-fill
    @extend .button
    border-color var(--base-color)
    color Dark
    background-color var(--base-color)
    &:hover:not(.disable)
        color var(--base-color)
        background-color var(--dark)

.button-pill
    @extend .button
    color var(--base-color)
    border-color var(--base-color)
    background-color transparent
    &:hover:not(.disable)
        background-color var(--base-color)
        color var(--dark)

.button-link
    @extend .button
    color: var(--dark)
    border: 0
    color: Root
    text-decoration: underline
    background-color transparent
    &:hover:not(.disable)
        @extend .button
    
a
    text-decoration: none
    color var(--root)
    cursor pointer
    &:visited:not(.button):not(.button-pill):not(.button-link):not(.disable-button):not(.button-fill)
        color var(--root)
    
button
    cursor pointer 
