// Copyright (c) 2021, garitma.com.
// Glyphs Sprite
// Licensed under MIT - see LICENSE.txt 
// Aura Design System


.glyphsSprite
    background-image var(--aura-sprite)
    background-size 265px 260px
    background-repeat no-repeat
    height 24px
    width 24px
    display inline-block
    vertical-align middle
    &.after
        margin-left .3em
    &.before
         margin-right .3em
    &.point
        background-color White
        mixin-border-radius(aura)
    &.logo
        background-position 0 -48px
        width 48px
        height 48px
    &.logo-g
        background-position 0 -96px
        width 48px
        height 48px
    &.logo-elg
        background-position 0 -144px
        width 222px
        height 25px
    &.logo-aura
        background-position 0 -196px
        width 48px
        height 48px
    &.logo-firma
        background-position -47px -197px
        width 48px
        height 48px
    &.logo-gmtc
        background-position -100px -200px
        width 133px
        height 25px
    &.logo-aura-l
        background-position 0 -170px
        width 222px
        height 28px    
    &.twitter
        background-position 0 -24px
    &.facebook
        background-position -24px -24px
    &.instagram
        background-position -48px -24px
    &.youtube
        background-position -72px -24px
    &.menu
        background-position -96px -24px
    &.search
        background-position -130px 0
    &.arrowDown
        background-position -154px 0
    &.arrowRight
        background-position -154px 0
        transform rotate(-90deg)
    &.arrowLeft
        background-position -154px 0
        transform rotate(90deg)
    &.arrowUp
        background-position -154px 0
        transform rotate(180deg)
    &.play
        background-position -48px -48px
        width 96px
        height 96px
        cursor pointer
        transition opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
    &.download
        background-position -145px -48px
        width 96px
        height 96px
        cursor pointer
        transition opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
    &.link
        background-position -144px -24px
    &.close
        background-position -120px -24px
    &.giphy
        background-position -168px -24px
    &.bag
        background-position -202px 0
    &.mail
        background-position -178px 0
    &.key
        background-position -226px 0
    &.user
        background-position -192px -24px
    &.heart
        background-position -216px -24px
    &.box
        background-position -240px -24px
    &.heart-fill
        background-position -240px -48px
    &.store
        background-position -240px -72px
    &.pay
        background-position -240px -96px
    &.location
        background-position -240px -120px
    &.bag-add
        background-position -240px -144px
    &.heart-fill-black
        background-position -240px -168px    
    &.poweroff 
        background-position: -239px -214px;
    &.circle 
        background-position: -216px -226px;
    &.checked 
        background-position: -192px -226px;
     

       



 
    
