// Copyright (c) 2021, garitma.com.
// Glyphs Sprite
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

.dark .icon, .dark.icon  
    filter: invert(1);

.icon
    background-image var(--aura-sprite)
    background-size 265px 96px
    background-repeat no-repeat
    height 24px
    width 24px
    display inline-block
    vertical-align middle
    &.search
        background-position 0 0
    &.arrowDown
        background-position -24px 0
    &.arrowRight
        background-position -24px 0
        transform rotate(-90deg)
    &.arrowLeft
        background-position -24px 0
        transform rotate(90deg)
    &.arrowUp
        background-position -24px 0
        transform rotate(180deg)  
    &.mail
        background-position -48px 0
    &.user
        background-position -72px 0
    &.bag
        background-position -96px 0
    &.bagAdd
        background-position -120px 0
    &.gift
        background-position -144px 0
    &.link
        background-position -168px 0
    &.close
        background-position -192px 0
    &.menu
        background-position -216px 0
    &.box
        background-position -240px 0
    &.heart
        background-position 0 -24px
    &.heartFill
        background-position -24px -24px
    &.heartFillBlack
        background-position -48px -24px
    &.shop
        background-position -72px -24px
    &.pay
        background-position -96px -24px
    &.location
        background-position -120px -24px
    &.key
        background-position -144px -24px
    &.arrowAltLeft
        background-position -168px -24px
    &.arrowAltRigth
        background-position -168px -24px
        transform rotate(180deg)
    &.check
        background-position -192px -24px
    &.circle
        background-position -216px -24px
    &.poweroff
        background-position -240px -24px
    &.secure
        background-position 0 -48px
    &.openLink
        background-position -24px -48px
    &.view
        background-position -48px -48px
    &.viewOff
        background-position -72px -48px
    &.copy
        background-position -96px -48px
    &.delete
        background-position -120px -48px
    &.edit
        background-position -144px -48px
    &.bell
        background-position -168px -48px
    &.github
        background-position -192px -48px
    &.youtube
        background-position -216px -48px
    &.instagram
        background-position -240px -48px
    &.twitter
        background-position 0 -72px
    &.facebook
        background-position -24px -72px
    &.giphy
        background-position -48px -72px
    &.stock
        background-position -72px -72px
    
   

 
    
