// Copyright (c) 2021, garitma.com.
// Inputs
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

.inputer
    @extend .inside-pad
    position relative
    margin-bottom aura * 1.5
    &-group
        position: relative;
        box-sizing: border-box;
        label:not(.original)
            position absolute
            transform-origin: top left
            transform: translate(aura * 2, 0);
        span
            transform-origin top left
            transform translate( aura * 0.5, aura * -1 )
        .typeahead
            padding-left aura * 6
            & + label
                transform: translate(aura * 6, 0);


    label, input 
        transition: all .1s ease-in-out
        touch-action: manipulation
        mixin-border-radius(aura * 0.5)
    
    textarea 
        mixin-border-radius(aura * 0.5)
        @extend p
        width 100%
        border 0
        background-color var(--aura-input-bg)
        box-sizing border-box
        box-shadow none
        color var(--aura-accents-10)
        color Root
        font-family inherit
        font: inherit;
        height 106px
        padding aura * 2
        &:focus
            background var(--aura-input-bg)
            outline none

    input 
        mixin-border-radius(aura * 0.5)
        width 100%
        background-color var(--aura-input-bg)
        border 0
        box-sizing border-box
        box-shadow none
        color var(--aura-accents-10)
        font-family inherit
        font: inherit;
        height aura * 4
        padding aura *2
        line-height aura * 4
        cursor: text;
        &:focus
            background var(--aura-input-bg)
            outline 0
        &::placeholder
            color: var(--aura-input-placeholder-color);
        &:not(:placeholder-shown):not(.naked)
            padding aura *2.5 aura *2 aura *1.5 aura *2
        &:placeholder-shown + label 
            cursor: text;
            max-width: 66.66%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transform-origin: left bottom;
            opacity 0
            z-index -1
        &:not(:placeholder-shown) + label 
            opacity 1
            cursor pointer
            z-index 0
      
        
    
    