// Copyright (c) 2021, garitma.com.
// Select
// Licensed under MIT - see LICENSE.txt 
// Aura Design System

select:not(.default)
       color var(--aura-accents-10)
       background-color var(--aura-input-bg)
       width: 100%
       font-family inherit
       font: inherit
       height aura * 4
       padding 0 aura *2
       line-height aura * 4
       box-sizing: border-box
       border 0
       -webkit-appearance: none
       -moz-appearance: none
       appearance: none
       mixin-border-radius(var(--aura-input-radius))
       &:focus
              outline 2px dotted var(--aura-outline) 
              outline-offset: 3px;
              