// Copyright (c) 2020, garitma.com.
// Select
// Licensed under MIT - see LICENSE.txt 
// Aura Design System
.inputer
       select
              background-color var(--aura-input-bg)
              width: 100%
              font-family inherit
              font: inherit
              height aura * 4
              padding 0 aura *2
              line-height aura * 4
              box-sizing: border-box
              border 0
              appearance none
              mixin-border-radius(aura * 0.5)
              