.hljs-header {
  background-color: #172353;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 13px;
  background: #0c122b;
  color: #fafafa;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-attr {
  color: #cd9ffb;
}

.hljs-code,
.hljs-selector-class {
  color: #9ffbde;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-tag,
.hljs-variable {
  color: #9fdefb;
}

.hljs-params {
  color: #9fdefb;
}

.hljs-string {
  color: #fbbc9f;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #fbee9f;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #cd9ffb;
}
