:root {
  --ladle-bg-color-secondary: var(--aura-purple);
  --ladle-color-accent: var(--aura-accents-info);
  --aura-code-purple: #9c5cee;
  --aura-code-orange: #da6321;
  --aura-code-blue: #a0cce7 
}

.ladle-code {
  color: var(--aura-accents-info);
  background-color: var(--aura-accents-info-bg);
}
