*:root {
  --aura-font-stack: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --aura-font-quotes: serif;
  --aura-snow: #fafafa;
  --aura-purple: #e8ebfe;
  --aura-white: #fff;
  --aura-black: #000;
  --aura-orange: #feefe8;
  --aura-orange-rose: #fee8ef;
  --aura-pink: #fee8fc;
  --aura-pink-purple: #f3e8fe;
  --aura-blue: #e8f7fe;
  --aura-teal-green: #e8fef7;
  --aura-green: #e8feea;
  --aura-lemon-green: #f3fee8;
  --aura-yellow: #fefbe8;
  --aura-cold-grey: #e8e7ed;
  --aura-grey: #f6f7f9;
  --aura-bg: var(--aura-white);
  --aura-accents-10: #030303;
  --aura-accents-9: #191919;
  --aura-accents-8: #323232;
  --aura-accents-7: #4b4b4b;
  --aura-accents-6: #646464;
  --aura-accents-5: #7d7d7d;
  --aura-accents-4: #969696;
  --aura-accents-3: #afafaf;
  --aura-accents-2: #c8c8c8;
  --aura-accents-1: #f7f7f7;
  --aura-accents-0: #fafafa;
  --aura-module: var(--aura-accents-0);
  --aura-dark: var(--aura-white);
  --aura-accents-primary: var(--aura-black);
  --aura-accents-secondary: #0882ba;
  --aura-accents-success: #08ba82;
  --aura-accents-success-bg: var(--aura-teal-green);
  --aura-accents-info: #0927ec;
  --aura-accents-info-bg: var(--aura-purple);
  --aura-accents-warning: #5d5104;
  --aura-accents-warning-bg: var(--aura-yellow);
  --aura-accents-danger: #8e3106;
  --aura-accents-danger-bg: var(--aura-orange);
  --aura-accents-radius: var(--aura-radius);
  --aura-input-radius: 6.5px;
  --aura-button-radius: 6.5px;
  --aura-input-bg: var(--aura-grey);
  --aura-input-placeholder-color: rgba(0, 0, 0, 0.2);
  --aura-radius: 13px;
  --aura-link-color: var(--aura-fg);
  --aura-opacity: 0.5;
  --aura-selector: #d1fdef;
}

.onesignal-customlink-container .onesignal-customlink-subscribe.button.medium {
  -webkit-writing-mode: horizontal-tb !important;
  box-sizing: border-box;
  margin: 0;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  font: inherit;
  align-items: center;
  border-radius: var(--aura-button-radius);
  -webkit-border-radius: var(--aura-button-radius);
  -moz-border-radius: var(--aura-button-radius);
  transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1) linear;
  -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1) linear;
  -moz-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1) linear;
  font-weight: 600;
  display: inline-flex;
  height: 52px;
  padding: 0 26px;
  border: 2px solid;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}

.onesignal-customlink-container
  .onesignal-customlink-subscribe.button.medium:hover {
  transform: scale(1.03);
  background-color: var(--aura-button-hover);
  background-color: var(--aura-button-hover) !important;
  box-shadow: none;
}

.onesignal-customlink-container .onesignal-customlink-explanation.medium {
  font-size: inherit;
  color: var(--aura-accents-10);
  border-color: var(--aura-accents-10) !important;
}
