// Copyright (c) 2021, garitma.com.
// Page
// Licensed under MIT - see LICENSE.txt 

// Aura Design System
html
    margin: 0
    padding: 0
body
    margin: 0
    padding: 0
    min-width 320px
    max-width 100%
    overflow-x hidden  

main 
    padding 0
    display flex
    flex-direction column
    justify-content center
    max-width: 2550px

.page
    padding: 0
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-start
    background-color var(--aura-accents-0)
    color var(--aura-accents-10)
    &-pancake
        display: grid
        grid-template-rows: auto 1fr auto
        min-height: 100vh;
    &-dashboard
        display: grid
        grid-template-rows: auto 1fr auto
        grid-template-columns: 100px 1fr
        min-height: 100vh;
        

*
    box-sizing: border-box;
    touch-action: manipulation;
    &::selection
        color: var(--aura-accents-10)
        background: var(--aura-selector)