/* Import Tailwind CSS */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Theme variables */
@theme {
  /* Border radius variables */
  --radius-0.5: calc(var(--spacing) * 0.5);
  --radius-1: calc(var(--spacing) * 1);
  --radius-1.5: calc(var(--spacing) * 1.5);
  --radius-2: calc(var(--spacing) * 2);

  /* Base spacing unit */
  --spacing: 13px;

  /* Black color scale */
  --color-black-1: #fcfcff;
  --color-black-2: #f9f9fe;
  --color-black-3: #efeff8;
  --color-black-4: #e7e7f3;
  --color-black-5: #dfdfee;
  --color-black-6: #d8d8e9;
  --color-black-7: #cdcde1;
  --color-black-8: #b9b9d2;
  --color-black-9: #000;
  --color-black-10: #2c2c3b;
  --color-black-11: #626276;
  --color-black-12: #1f1f2c;

  /* Black alpha color scale */
  --color-black-a1: #0000ff03;
  --color-black-a2: #0000d506;
  --color-black-a3: #00009010;
  --color-black-a4: #00008018;
  --color-black-a5: #00007820;
  --color-black-a6: #00007027;
  --color-black-a7: #00006632;
  --color-black-a8: #00005c46;
  --color-black-a9: #000000;
  --color-black-a10: #000012d3;
  --color-black-a11: #0000219d;
  --color-black-a12: #00000fe0;

  /* Utility colors */
  --color-black-contrast: #fff;
  --color-black-surface: #f8f8fecc;
  --color-black-indicator: #000;
  --color-black-track: #000;

  /* Status colors */
  --color-info: #e8ebfe;
  --color-info-contrast: #0927ec;
  --color-success: #e8fef7;
  --color-success-contrast: #045d3c;
  --color-danger: #feefe8;
  --color-danger-contrast: #8e3106;
  --color-warning: #fefbe8;
  --color-warning-contrast: #5d5104;

  /* AlertDialog animations */
  --animate-overlay-show: overlayShow 500ms cubic-bezier(0.19, 1, 0.22, 1);
  --animate-content-show: contentShow 500ms cubic-bezier(0.19, 1, 0.22, 1);

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      transform: scale(0.96);

    }
    to {
      opacity: 1;
      transform:  scale(1);

    }
  }
}

/* Base styles */
@layer base {
  /* Import Aura design system */
  @import "@aura-design/system/main.css";

  /* Set default font stack */
  *:root {
    --aura-font-stack: "Geist", "Geist Fallback";
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong {
    font-weight: bold;
  }

  /* Paragraph styles */
  p {
    line-height: 1.6;
  }
}

/* Utility classes */
@layer utilities {
  html {
    font-size: 17px;
  }
  /* Content styles */
  .content a {
    text-decoration: underline;
  }
  .content ul {
    list-style-type: disc;
    margin: calc(var(--spacing) * 1.5);
  }
  .content ol {
    list-style-type: decimal;
    margin: calc(var(--spacing) * 1.5);
  }
  .content li {
    margin-bottom: calc(var(--spacing) * 0.5);
  }
  .content em strong {
    font-weight: 600;
    font-family: "Geist Mono", "Geist Mono Fallback";
    font-style: normal;
    background-color: var(--color-black-3);
    padding: 0 calc(var(--spacing) * 0.25);
    font-size: 13px;

  }
  /* Remove outline from buttons */
  a:has(.button-fill, .button-pill, .button-link) {
    outline: none !important;
  }
}

/* Component styles */
@layer components {
  /* Hide NProgress peg */
  #nprogress .peg {
    display: none !important;
  }

  /* Code wrapper styles */
  .code-wrapper pre {
    margin: 0 !important;
    padding: 19.5px 0 !important ;
    font-size: 13px !important;
    background-color: #fff!important;
  }

  /* 3D transform wrapper */
  .wrapper {
    transform-style: preserve-3d;
    perspective: 500px;
  }

  /* Main circle styles */
  .circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color-black-contrast);
    border: 1px dashed var(--color-black-12);
    animation: rotate 6s linear infinite;
  }

  /* Text block slice styles */
  [data-slice-type="text_block"] + section {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* Orbiting circle styles */
  .orbitingCircle {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--color-black-contrast);
    border: 1px solid var(--color-black-12);
    animation: orbit 6s linear;
    animation-iteration-count: infinite;
  }

  /* Rotation animation */
  @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  /* Orbit animation */
  @keyframes orbit {
    from {
      transform: translate(-50%, -50%) rotateY(0deg) translateZ(40px)
        rotateY(360deg);
    }
    to {
      transform: translate(-50%, -50%) rotateY(360deg) translateZ(40px)
        rotateY(0deg);
    }
  }
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .content table {
    width: 100%;
    text-align: left;
  }
  .content thead {
    background-color: var(--color-black-2);
  }
  .content th {
    padding: 0 calc(var(--spacing) * 1);
    border-bottom: 1px solid var(--color-black-3);
  }
  .content tr:not(:last-child) {
    border-bottom: 1px solid var(--color-black-3);
  }
  .content td {
    padding: 0 calc(var(--spacing) * 1);
  }
  @media screen and (min-width: 768px) {
    .main-doc-content {
      max-width: calc(100vw - 350px);
    }
  }
}

@theme inline {
  --animate-accordion-open: slideDownAccordion 250ms ease-in-out;
  --animate-accordion-closed: slideUpAccordion 250ms ease-in-out;
  @keyframes slideDownAccordion {
  from {
    height: 0;
    }
  to {
    height: var(--radix-accordion-content-height);
    }
  }
  @keyframes slideUpAccordion {
  from {
    height: var(--radix-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
  @keyframes slideDownAccordion {
  from {
    height: 0;
    }
  to {
    height: var(--radix-accordion-content-height);
    }
  }
  @keyframes slideUpAccordion {
  from {
    height: var(--radix-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}