@import "tailwindcss";

@theme {
  --radius-0.5: calc(var(--spacing) * 0.5);
  --radius-1: calc(var(--spacing) * 1);
  --radius-1.5: calc(var(--spacing) * 1.5);
  --radius-2: calc(var(--spacing) * 2);

  --spacing: 13px;

  --color-black-1: #fcfcff;
  --color-black-2: #f9f9fe;
  --color-black-3: #efeff8;
  --color-black-4: #e7e7f3;
  --color-black-5: #dfdfee;
  --color-black-6: #d8d8e9;
  --color-black-7: #cdcde1;
  --color-black-8: #b9b9d2;
  --color-black-9: #000;
  --color-black-10: #2c2c3b;
  --color-black-11: #626276;
  --color-black-12: #1f1f2c;

  --color-black-a1: #0000ff03;
  --color-black-a2: #0000d506;
  --color-black-a3: #00009010;
  --color-black-a4: #00008018;
  --color-black-a5: #00007820;
  --color-black-a6: #00007027;
  --color-black-a7: #00006632;
  --color-black-a8: #00005c46;
  --color-black-a9: #000000;
  --color-black-a10: #000012d3;
  --color-black-a11: #0000219d;
  --color-black-a12: #00000fe0;

  --color-black-contrast: #fff;
  --color-black-surface: #f8f8fecc;
  --color-black-indicator: #000;
  --color-black-track: #000;

  --color-info: #e8ebfe;
  --color-infocontrast: #0927ec;
  --color-success: #e8fef7;
  --color-successcontrast: #045d3c;
  --color-danger: #feefe8;
  --color-dangercontrast: #8e3106;
  --color-warning: #fefbe8;
  --color-warningcontrast: #5d5104;
}

@layer base {
  @import "@aura-design/system/main.css";
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

@layer utilities {
  a:has(.button-fill, .button-pill, .button-link) {
    outline: none !important;
  }
}

@layer components {
  #nprogress .peg {
    display: none !important;
  }

  .system {
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 180px;
    aspect-ratio: 1;
    rotate: -45deg;
    margin: auto;
  }

  .planet,
  .orbit,
  .moon {
    position: absolute;
    transform-style: preserve-3d;
    inset: 0;
    height: calc(var(--size) * 1%);
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .planet {
    --size: 33;
    border: dotted 2px var(--color-black-12);
    background-color: var(--color-black-contrast);
    animation: planetRotate 10s linear infinite;
  }

  .orbit {
    --size: 66;
    --duration: 8s;
    animation: orbit calc(var(--duration)) linear infinite;
    rotate: 1 0 0 90deg;
  }

  .moon {
    --size: 12;
    height: calc(var(--size) * 1%);
    margin-left: calc(var(--size) * -0.5%);
    border: dotted 2px var(--color-black-12);
    animation: moon calc(var(--duration)) linear infinite;
    rotate: 1 0 0 90deg;
  }

  @keyframes planetRotate {
    to {
      transform: rotate(360deg); /* Rotate around the Y-axis */
    }
  }

  @keyframes orbit {
    to {
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }
  @keyframes moon {
    to {
      transform: rotate3d(0, 1, 0, -360deg);
    }
  }
}
