@theme animatons {
    --animate-accordion-open: slideDownAccordion 250ms ease-in-out;
    --animate-accordion-closed: slideUpAccordion 250ms ease-in-out;
  }
  @layer components {
    @keyframes slideDownAccordion {
      from {
        height: 0;
      }
      to {
        height: var(--radix-accordion-content-height);
      }
    }
  
    @keyframes slideUpAccordion {
      from {
        height: var(--radix-accordion-content-height);
      }
      to {
        height: 0;
      }
    }
  }
  
  --animate-overlay-show: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-show: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  